@import './Selects/Select.scss';
@import './CheckBoxes/CatCheckBoxes.scss';
@import './CheckBoxes/CheckboxListAccess.scss';
@import './Notifications/notifications.scss';
@import './Uploaders/FilesUploader.scss';
@import './Inputs/Input.scss';
@import './Uploaders/PhotoUploader.scss';
@import './Selects/SelectAccess.scss';
@import "./TextEditor/TextEditor.scss";
@import "./Accordions/accordions.scss";
@import "./Hints/hints.scss";
@import "./Tables/tables.scss";
@import "./Pagination/Pagination.scss";
@import "./HeaderFormatter/HeaderFormatter.scss";
@import "./Uploaders/LoadingPage.scss";