.EmptyData{
    padding: 15vh 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &-icon{
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #eeecec;
    }
    &-bottom{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        &-title{
            font-weight: 600;
            // font-size: 32px;
        }
    }
}