.Tasks {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-header {
        display: flex;
        align-items: center;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-header{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
        &-feedbacks{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-title {
            font-weight: 600;
        }
    }
}

@media screen and (max-width:450px){
.Tasks{
    &-header{
        flex-direction: column;
        gap: 10px;
        >.AddButton{
            justify-content: center !important;
        }
    }
    &-tabs{
        max-width: 100px;
        overflow-x: auto;
    }
}
}