.wrap{
    width: 90%;
    margin: auto;
}
.btn__print{
    display: flex;
    gap: 15px;
}
.wrap > table{
    display: block;
}
@media screen and (max-width:1024px) {
    table{
        overflow-x: scroll;
    }
}