.user__wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  width: 100%;
}

.case__contact__info__img__inner {
  position: relative;
}

.case__contact__info__img img {
  max-width: 400px;
  width: 100%;
}

#uploadbtn {
  visibility: hidden;
}

.case__contact__info__img {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.case__contact__info__img__left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
}
.change_password{
  border: solid 3px var(--main-color);
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrap__change__form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.user_info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user_info_phone, .user_info_mail{
  display: flex;
  align-items:center;
  gap: 15px;
  font-weight: bold;
}
.added_contact,
.added_report {
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 20px;
}

.added_all_contact, .added_contact {
  background-color: var(--second-color);
  border-radius: 15px;
  padding: 20px;
}

.added_contact_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.added_contact_list_item,
.added_report_list_item {
  background-color: white;
  border: solid 3px var(--main-color);
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 15px;

}
 .added_contact_list_item p{
  margin: 0;
  font-weight: bold;
}

.error__recovery {
  font-weight: bold;
  color: red;
}

.added_contact_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.added_new_cases{
  display: flex;
  justify-content: end;
  height: max-content;
  width: max-content;
  padding: 5px 17.5px;
  border: none;
  color: #000;
  transition: all .3s;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}
.added_contact_title {
  margin: 0;
}

ul {
  padding: 0;
}

.user_pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.user_pagination li > button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.added_new_cases a {
  padding: 5px;
  font-weight: 800;
  border: solid 1px var(--main-color);
  box-shadow: 0px 0px 7px 7px rgb(179 153 203 / 20%);
  border-radius: 15px;
}

.added_report_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.added_report_list_item_wrap {
  display: flex;
  justify-content: space-around;
}

.btn__active {
  background-color: rgb(126, 160, 223) !important;
}

@media (max-width:700px){
  .case__contact__info__img {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    gap: 20px;
}
.added_contact_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 95%;
  margin: auto;
}
.added_all_contact{
  width: 95%;
  margin: auto;
  padding: 20px 0;
}
.added_contact_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.added_contact, .added_report {
  margin-bottom: 20px;
  border: solid 3px var(--main-color);
  border-radius: 15px;
  padding: 20px 0;
  width: 100%;
  margin: auto;
}
}