@import './CheckboxForm.scss';
.AddCaseForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &-inner{
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .required{
            color: #f00;
        }
        textarea{
            width: 100%;
        }
        p{
            font-weight: bold;
            padding-bottom: 10px;
        }
        
        &-line-three{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
            .Input{
                div{
                    width: 100%;
                }
            }
        }
        &-line-two{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            .Input{
                div{
                    width: 100%;
                }
            }
        }
    }
    
}