.wrap{
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: 999;
    top: 60px;
    left: 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.inner{
    border-left: solid 3px var(--main-color);
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 50vh;
}
.user__wrap{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.btn{
    height: 50px;
    width: max-content;
    padding: 7.5px 17.5px;
    border: none;
    color: #000;
    transition: all .3s;
    background-color: #b399cb;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    margin: auto;
}
.connections__inner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.search__result{
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 2px 0px #000;
    padding: 5px;
    position: absolute;
    top:40px;
    left:0;
    background-color: #fff;
}
.search__inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: auto;
}

.item__result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.item__result:hover{
    background-color: var(--main-color);
}
.search__item:nth-child(2n+1){
    background-color: rgb(225, 220, 220);
    padding: 3px;
}
@media screen and (max-width:600px) {
    .wrap{
        grid-template-columns: 20% 80%;
    }
}