.wrap__cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
}
.inner__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    padding: 20px;
    box-shadow: 0 0 10px 0 #ababaa;
    position: relative;
    border-radius: 10px;
    background-color: var(--second-color);
    max-width: 300px;
    min-width: 300px;
    background-color: #90CAF988;
}
.card__img{
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    overflow: hidden;
}

.categories__data{
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.card__img img{
max-width: 100%;
max-height: 200px;
min-width: 100px;
}
.card__case__name{
    text-align: center;
}
.card__info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.card__description{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.card__info__status{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}
.card__info__status__contract {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__description__phones{
    display: flex;
    justify-content: space-between;
}
.card__description__email{
    text-align: center;
}
.status__color{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}
.status__color.green{
    background-color: green;
}
.status__color.orange{
    background-color: orange;
}
.card__info__status__date{
    display: flex;
    align-items: center;
    justify-content: right;
}
.category__circle{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    box-shadow:  0 0 5px 0 #00000077;
}
.card__categories{
   display: flex;
   flex-direction: column;
   grid-template-columns: 1fr;
   row-gap: 10px;
   align-items: top;
   padding: 0px 5px;
}
.card__info__category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card__info__category__block {
    padding: 2px 4px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}
.card__categories__inner{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.card__info a{
    color: #000;
}
.card__id{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.cards__filter{
    position: absolute;
    top: 25px;
    left: 10%;
}
@media (max-width:720px){
    .inner__cards {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10%;
        row-gap: 50px;
    }
}