.FieldsBlock {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.FieldsBlockGroup {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    &-inner {
        width: 100%;
        box-sizing: border-box;
        border: solid 1px $main-color;
        border-radius: 15px;
        padding: 15px;    
        &-title {
            width: max-content;
            padding: 5px;
            background-color: $second-color;
        }
        &-options {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }
    }
}
@media screen and (max-width: 600px) {
    .FieldsBlockGroup-inner-options{
        grid-template-columns: 1fr;
    }
}