@import '../variables';

[data-theme="light"] {
    /*GLOBAL*/
    --default-background: #{$light-theme-color-white000--o};
    --default-color-primary-fill: #{$light-theme-color-blue000--o};

    /*NOTIFICATIONS COLOR*/
    --notification--default-notification-fill: #{$light-theme-color-blue000--o};
    --notification--default-case-created-fill: #{$light-theme-color-orange000--o};
    --notification--marked-case-created-fill: #{$light-theme-color-orange800--o};
}