.PhotoUploader {
   display: flex;
   flex-direction: column;
   gap: 10px;
   &-img {
    flex-grow: 1;
    .img {
        width: 100%;
    }
   }
   &-buttons {
    display: flex;
    gap: 5px;
    .label{
        cursor: pointer;
    }
   }
}