.GroupConnections{
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 25px;
    border: solid 1px $second-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-title{
        width: 100%;
        background-color: $second-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        border-radius: 5px;
        padding: 0px 15px;
    }
    &-select{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-item{
        width: 100%;
        padding: 10px 0px;
        background-color: #fff;
    }
    &-modal{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}