.GroupConnections{
    border-radius: 15px;
    background-color: $second-color;
    padding: 15px;
    margin-top: 25px;
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
}