.CaseInfoBlock {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    &-inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .InputBlock {
        &-default {
            display: flex;
            gap: 5px;
            align-items: center;
            &-icon {
                width: 20px;
                &-img {
                    width: 100%;
                }
            }
            .edit-icon {
                opacity: 0;
            }
            &:hover {
                background-color: $background-color;
                .edit-icon {
                    opacity: 1;
                }
            }
        }
        &-editer {
            display: flex;
            gap: 50px;
            align-items: center;
            &-withicon {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}