.DetailedInfo{
    display: grid;
    grid-template-rows: 50px calc(100% - 100px) 50px;
    background-color: #E9F4FE;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 25px;
    &-title{
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    &-InfoBlock{
        border-radius: 10px;
        background-color: #fff;
        border: solid 3px #90CAF9;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-title{
            display: flex;
            justify-content: space-between;
            &-block {
                font-size: 20px;
                font-weight: 600;
            }
        }
        &-panel{
            display: flex;
            gap: 5px;
        }
    }

}
.content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 400px;
    overflow-y: scroll;
}