.Table{
    width: 100%;
    height: 450px;
    overflow: auto;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 8px;
    font-family: 'Inter', 'Montserrat';
    &-row-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    thead{
        background-color: $main-color;
        color: #fff;
        border: none;
        padding: 10px;
        td {
            padding: 2px;
        }
    }
    tbody{
        td{
            border: 1px solid #ccc;
            padding: 5px 10px;
            .cell {
                &.break-word {
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    width: 100%;
                    -webkit-box-orient: vertical;
                }
            }
          
        }
        tr:hover {
            background-color: $background-color;
            td:last-child{
                background-color: #ffffff;
                position: sticky;
                right: 0px;
            }
        }
    }
    &.without-row-menu {
        tbody{
        tr:hover {
            background-color: $background-color;
            td:last-child{
                background-color: $background-color;
                position: inherit;
                right: auto;
            }
        }
    }}
    &-emptyTable{
        
    }
}