.flex {
    display: flex;
    width: 100%;
    &.space {
        align-items: center;
        justify-content: space-between;
    }
}
.w100 {
    width: 100%;
}
.grid {
    width: 100%;
    display: grid;
}