.flex {
    display: flex;
    width: 100%;
    &.space {
        align-items: center;
        justify-content: space-between;
    }
}
.w100 {
    width: 100%;
}
.grid {
    width: 100%;
    display: grid;
}
.bold {
    font-weight: 900;
  }
.default-icon{
color: $main-color;
}
.close-icon{
    color: red;
    cursor: pointer;

}
.save-icon{
    color: green;
    cursor: pointer;
}
.add-icon{
    cursor: pointer;
}