.plan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
}
.plan__header{
    background-color: var(--main-color);
    border-radius: 7px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.plan__header__inner{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.time__line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plan__time__date{
    background-color: var(--main-color);
    border-radius: 25px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
.plan__time{
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
}
.plan__date{
    margin-left: 5px;
}

.result, .result__modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    position: relative;
}
.result{
    border: solid 2px var(--main-color);
    
}
.result__inner{
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result__inner__90{
    width: 90%;
}
.btn__feed{
    bottom: 12.5px;
}
.btn__feed:hover{
    background-color: var(--main-color);
    color: #fff;
}
.modal__wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.users__wrap{
    position: relative;
}
.modal{
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;
    min-width: 50%;
    position: relative;
    max-height: 80vh;
    overflow-y: scroll;
    box-sizing: border-box;
}
.close{
    width: 25px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all .3s;
}
.f,.s{
    position: absolute;
    height: 4px;
    width: 100%;
    display: block;
    top: 50%;
    transform: translate(0,-50%) rotate(45deg);
    background-color: #000;
    border-radius: 5px;
}
.s{
    transform: translate(0,-50%) rotate(-45deg);
}
.close:hover{
    transform: rotate(545deg) scale(1.2);
    cursor: pointer;
}
.feed__back{
    padding: 5px;
    background-color: var(--second-color);
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.feed__back__wrap{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
.feed__elem__date{
    width: max-content;
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 0;
}
@media screen and (max-width:720px) {
    .plan{
        grid-template-columns: 1fr;   
    }
    .time__line{
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}
