.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    padding-top: 10px;
}
.week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 15px;
}
.month{
    font-weight: 600;
}
.control{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.control__btn{
    background-color: var(--main-color);
    border: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 3px 0 var(--second-color);
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .3s;
}
.control__btn:nth-child(even){
    color: #000;
}
.control__btn:hover{
    transform: scale(1.05);
}
.show__cal{
    display: flex;
    gap: 5px;
}
.days__week{
    color: #fff;
    box-sizing: border-box;
    background-color: var(--main-color);
    padding: 10px 5px 5px 5px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
@media screen and (max-width:600px) {
    .wrap{
        flex-direction: column;
    }
    .control{
        padding-bottom: 10px;
        width: 100%;
    }
    .week{
        text-align: center;
        padding-right: 0;
    }
}